.DS_Store
.idea/
__pycache__/
.env
.env-non-dev
node_modules
/.pytest_cache/
.gitpod.yml

*.session
api/app/static/photos/
api/app/static/previews/
frontend/.env.production
.env.production
api/session_name.session
logfile.txt
session_name.session