body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("static/background.jpg");
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-target {
  cursor: pointer;
}

.animated-button, .nav-button{
  background: linear-gradient(45deg, #ffffff, #f10b0b);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25); /* Настройки тени */
  display: inline-block;
  border: none;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: -120%;
  left: -220%;
  width: 300%;
  height: 100%;
  background: radial-gradient(circle at 30% 107%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  transform: rotateZ(30deg);
  animation: sunshine 3s linear infinite;
}

.animated-button:hover, .nav-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(101, 101, 255, 0.4);
}

.animated-button:active {
  transform: scale(0.95);
}

@keyframes sunshine {
  100% {
    transform: translateX(250%) rotateZ(30deg);
}
}

.navbar {
  background: linear-gradient(45deg, #797777, #8a7d7d);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: white;
  margin: 10px;
  z-index: 1000;
  align-items: center;
  border: none;
  border-radius: 50px;
}

.img-card {
  display: block;
  transition: transform 0.3s ease; /* Плавный переход при увеличении */
  border: 2px solid #8a7d7d; /* Черная рамка толщиной 2 пикселя */
  border-radius: 12px;     /* Закругление углов рамки */
}

/* Эффект тени */
.img-card {
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25); /* Настройки тени */
}

/* Увеличение тени при наведении */
.img-card:hover {
  transform: scale(1.1); /* Увеличение размера изображения */
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.35); /* Увеличенная тень */
}

.page-link{
  background-color: #797777;
  color: #000000;
}

.page-link:hover{
  color: #f10b0b;
}
.active>.page-link, .page-link.active {
  background-color: #f10b0b;
  border-color: #f10b0b;
}