body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("static/background.jpg");
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-target {
  cursor: pointer;
}

.like-button {
  box-shadow: 0 4px 6px black;
  display: inline-block;
  border: linear-gradient(45deg, #ffffff, #f10b0b);
  border-radius: 50px;
  color: linear-gradient(45deg, #ffffff, #f10b0b);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.animated-button, .nav-button, .modal-button{
  background: linear-gradient(45deg, #ffffff, #f10b0b);
  box-shadow: 0 4px 6px black;
  display: inline-block;
  border: none;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: -120%;
  left: -220%;
  width: 300%;
  height: 100%;
  background: radial-gradient(circle at 30% 107%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  transform: rotateZ(30deg);
  animation: sunshine 3s linear infinite;
}

.animated-button:hover, .nav-button:hover, .like-button:hover, .modal-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px black;
}

.animated-button:active {
  transform: scale(0.95);
}

@keyframes sunshine {
  100% {
    transform: translateX(250%) rotateZ(30deg);
}
}

.content {
  margin-top: 100px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, #797777, #8a7d7d);
  box-shadow: 0 6px 20px black;
  color: white;
  z-index: 1000;
  align-items: center;
  border: none;
  border-radius: 10px;
}

.dropdown-menu {
  background: linear-gradient(45deg, #afadad, #f8e3e3);
}

.img-card {
  display: block;
  transition: transform 0.3s ease;
  border: 2px solid #8a7d7d;
  border-radius: 12px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25); /* Настройки тени */
  max-width: 100%;
  height: auto;
}

@media (min-width: 767px) {
  .img-card:hover {
      transform: scale(1.2);
      box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.35);
    }
}

.page-link{
  background-color: #797777;
  color: #000000;
}

.page-link:hover{
  color: #f10b0b;
}
.active>.page-link, .page-link.active {
  background-color: #f10b0b;
  border-color: #f10b0b;
}

.footer {
  background-color: #919191;
}

.modal-content {
  border-radius: 21px;
}

.modal-body {
  background-image: url("static/background.jpg");
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-footer {
  background-image: url("static/background.jpg");
  border-top: solid #000000;
}

.welcome-go {
  text-align: center;
  font-size: 2em;
  margin: 10px;
  background: linear-gradient(45deg, #ffa3a3, #c40101);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}

.welcome-go {
  font-size: 1em;
  font-weight: 500;
}
.about-modal-header {
  background: linear-gradient(45deg, #797777, #8a7d7d);
}

.about-modal-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.chat-messages {
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}